@model IEnumerable<LTSMerchWebApp.Models.ProductOption>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color.ColorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size.SizeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductOptionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductOptionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductOptionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
